<footer class="footer">
  <div class="container">
    <p class="footer-nav">
      <a class="footer-nav-item" href="{{ "./index.html" | url }}" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a>
      <a class="footer-nav-item" href="{{ "/research.html" | url }}" {% if page.url == "/research.html" %}aria-current="page"{% endif %}>Research</a>
      <a class="footer-nav-item" href="{{ "/cv.html" | url }}" {% if page.url == "/cv.html" %}aria-current="page"{% endif %}>CV</a>
      <a class="footer-nav-item" href="{{ "/publications.html" | url }}" {% if page.url == "/publications.html" %}aria-current="page"{% endif %}>Publications</a>
    </p>
    <p style="padding-left: 1px;">
      Copyright &copy 2019 by Joseph D. Romano
    </p>
  </div>
</footer>