<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ "/" | url }}">jdr.bio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ "./index.html" | url }}" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "/research.html" | url }}" {% if page.url == "/research.html" %}aria-current="page"{% endif %}>Research</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "/cv.html" | url }}" {% if page.url == "/cv.html" %}aria-current="page"{% endif %}>CV</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "/publications.html" | url }}" {% if page.url == "/publications.html" %}aria-current="page"{% endif %}>Publications</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-brand" style="color:slategrey;"><a href="https://github.com/jdromano2" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li class="navbar-brand" style="color:slategrey;"><a href="https://twitter.com/jdromano2" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li class="navbar-brand" style="color:slategrey;"><a href="https://scholar.google.com/citations?user=Lr-3Bj4AAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar ai-2x"></i></a></li>
        <li class="navbar-brand" style="color:slategrey;"><a href="https://www.linkedin.com/in/jdromano2" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
