<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="author" content="Joseph D. Romano" />

  <title>{{ subtitle + '- ' if subtitle }}Joseph D. Romano</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!--Assets-->
  <link rel="preload" href="/assets/fonts/cmunrm-webfont.woff" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/cmunsx-webfont.woff" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/cmuntt-webfont.woff" as="font" type="font/woff2" crossorigin>
  {# <link rel="preload" href="/assets/fonts/academicons.woff" as="font" type="font/woff2" crossorigin> #}

  <!--Icons-->
  <script src="https://use.fontawesome.com/04f6e4e6fe.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/icons/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicons/favicon-16x16.png">
  <link rel="manifest" href="assets/icons/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/icons/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {%- set css %}
  {% include 'assets/fonts.css' %}
  {% include 'assets/app.css' %}
  {% endset %}

  <style>{{ css | safe}}</style>

  <!--Semantic metadata-->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Joseph D. Romano",
    "url": "https://jdr.bio",
    "jobTitle": "Assistant Professor of Informatics",
    "gender": "male",
    "alumniOf": "Columbia University",
    "image": "https://jdr.bio/assets/img/headshot-500px-3.jpg",
    "sameAs": [
      "https://www.wikidata.org/wiki/Q57201403",
      "https://www.dbei.med.upenn.edu/post-docs/joseph-d-romano",
      "https://www.linkedin.com/in/jdromano2/"
    ],
    "familyName": "Romano",
    "givenName": "Joseph",
    "additionalName": "Daniel",
    "birthDate": "1990-10-25"
  }
  </script>
  <meta property="og:title" content="Joseph D. Romano" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:site_name" content="Joseph D. Romano" />
  <meta name="robots" content="index, follow" />

</head>
<body>
  {# {% include "components/header.njk" %} #}

  <main role="main" class="container-bare">
    {% block main %}
      {% block content %}{% endblock %}
    {% endblock %}
  </main>

  {# {% include "components/footer.njk" %} #}
</body>
</html>