---
title: Joseph D. Romano's bio
permalink: /bio.html
---

{% extends 'layouts/bare.njk' %}

{% block content %}
  <div id="page-content-bare">
    <h3>Biographical information - Joseph D. Romano, PhD</h3>
    <p>Return to <a href="{{ "./index.html" }}">home</a>.</p>
    <hr/>
    <p>
      Dr. Joseph D. Romano is an Assistant Professor of Informatics at the University of Pennsylvania's Perelman School of Medicine, in the Department of Biostatistics, Epidemiology, and Informatics. He is a Senior Fellow in Penn's Institute of Biomedical Informatics and a CEET Investigator in the Center of Excellenece in Environmental Toxicology. His research focuses on applying translational bioinformatics and artificial intelligence to environmental toxicology. 
    </p>
    <p>
      Dr. Romano earned a Bachelor of Science degree in Molecular Genetics from the University of Vermont. He then earned PhD, MPhil, and MA degrees at Columbia University where his dissertation focused on using computational approaches to discover therapeutic properties from proteins found in animal venoms. During his time at Columbia, he completed a graduate research fellowship in biomedical informatics sponsored by the US National Library of Medicine. After earning his PhD, he completed a postdoctoral fellowship in environmental health science at the University of Pennsylvania.
    </p>
  </div>
{% endblock %}
