---
title: CV
permalink: /cv.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <h2>Curriculum Vitae</h2>
      <hr>
    </section>
  </div>
{% endblock %}