---
title: Happy Birthday, Sarah!!!
permalink: /hb.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <h1>Happy Birthday, Sarah!!!</h1>
    <hr/>
    <img src="./assets/img/s1.jpg" class="img-fluid pb-2">
    <p>
      It's a bit hard to find decent greeting cards right now (given recent
      events), so rather than breaking out the construction paper and colored
      pencils, I thought I'd make something for you that's a bit more
      compatible with my natural skill set.
    </p>
    <hr/>
    <p>
      Can you believe this is the 5th time we've celebrated your birthday
      together?
    </p>
    <img src="./assets/img/s2.jpg" class="img-fluid pb-2">
    <p>
      Since then, we've turned from new acquaintances into a family...
    </p>
    <img src="./assets/img/s3.jpg" class="img-fluid pb-2">
    <p>
      Merged our group of friends into one...
    </p>
    <img src="./assets/img/s4.jpg" class="img-fluid pb-2">
    <p>
      And even traveled the world!
    </p>
    <img src="./assets/img/s5.jpg" class="img-fluid pb-2">
    <img src="./assets/img/s6.jpg" class="img-fluid pb-2">
    <img src="./assets/img/s7.jpg" class="img-fluid pb-2">
    <p>
      I know we have many more adventures ahead of us in the near future.
    </p>
    <img src="./assets/img/s8.jpg" class="img-fluid pb-2">
    <p>
      But until then, take a moment to enjoy your birthday! In spite of any
      hardships we're currently facing, you've done so much to be proud of
      lately, and you've made me the happiest guy alive.
    </p>
    <img src="./assets/img/s9.jpg" class="img-fluid pb-2">
    <p>
      All of my love goes to you, Sarah. I'd follow you to the moon and back
      and everywhere in between, and wouldn't regret a moment of it!
    </p>
    <p class="text-right">
      <i>March 27, 2020</i>
    </p>
  </div>
{% endblock %}