---
title: Homepage
permalink: /index.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <h2>Joseph D. Romano, PhD</h2>
      <h3>Biomedical data scientist and computational toxinologist</h3>

      <hr>

      <p>
        I'm a recent PhD graduate from Columbia University, where I worked in the Tatonetti Lab. I specialize in translational bioinformatics and computational toxinology.
      </p>

      <p>
        For more information about my research, publications, or CV/résumé, please use the links at the top of the page.
      </p>

      <p>Me elsewhere on the internet:</p>
      <ul>
        <li><a href="https://systemsbiology.columbia.edu/people/joe-romano">Columbia Systems Biology</a></li>
        <li><a href="https://www.dbmi.columbia.edu/roles/phd/">Columbia Department of Biomedical Informatics</a></li>
        <li><a href="http://tatonettilab.org/people/">Tatonetti Lab</a></li>

        <span style="display:block; height: 4em"></span>

        <div id="definition-box">
          <p>
            <b>Translational Bioinformatics</b> is the field of study that uses computational techniques to link molecular entities (proteins, genes, drugs) to clinical entities (humans, body systems, diagnoses).
          </p>

          <p>
            <b>Computational toxinology</b> (not 'toxicology') is the use of computers to discover new characteristics from venoms and the molecules that comprise venoms, especially for the purpose of discovering new drugs.
          </p>
        </div>
    </section>
  </div>
{% endblock %}
