---
title: Homepage
permalink: /index.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <div class="row">
        <div class="col-8">
          <h2>Joseph D. Romano, PhD</h2>
          <h3>Biomedical data scientist and translational bioinformatician</h3>
          <p><i>Email</i>: <tt>joseph.romano</tt> <i>[at]</i> <tt>pennmedicine.upenn.edu</tt></p>

          <hr/>

          <p>
            I'm currently a postdoc at the University of Pennsylvania, where I work in the <a href="http://epistasis.org/">Computational Genetics Lab</a> (led by <a href="https://www.med.upenn.edu/apps/faculty/index.php/g275/p8803452">Jason Moore, PhD</a>). Recently, I earned my PhD from Columbia University, where I was a member of the <a href="http://tatonettilab.org/">Tatonetti Lab</a>. I specialize in translational bioinformatics, computational toxinology, and environmental toxicology.
          </p>

          <p>
            For more information about my research, publications, or CV/résumé, please see the links at the top of the page.
          </p>
        </div>

        <div class="col-4">
          <img src="./assets/img/headshot-500px-3.jpg" class="img-fluid pb-2">
        </div>
      </div>

      <hr>

      

      <p>Me elsewhere on the internet:</p>
      <ul>
        <li><a href="https://www.dbei.med.upenn.edu/post-docs/joseph-d-romano">UPenn - Department of Biostatistics, Epidemiology, and Informatics</a></li>
        <li><a href="http://ceet.upenn.edu/community-outreach-engagement/coec-environmental-health-education-programs/current-trainees/">UPenn - Center for Excellence in Environmental Toxicology</a></li>
        <li><a href="http://epistasis.org/personnel/">UPenn - Computational Genetics Lab</a></li>
        <li><a href="https://systemsbiology.columbia.edu/people/joe-romano">Columbia - Systems Biology</a></li>
        <li><a href="https://www.dbmi.columbia.edu/alumni/">Columbia - Department of Biomedical Informatics</a></li>
        <li><a href="http://tatonettilab.org/people/">Columbia - Tatonetti Lab (see "Alumni")</a></li>

        <span style="display:block; height: 2.5em"></span>

        <div id="definition-box">
          <p>
            <b>Translational Bioinformatics</b> is the field of study that uses computational techniques to link molecular entities (proteins, genes, drugs) to clinical entities (humans, body systems, diagnoses).
          </p>

          <p>
            <b>Computational toxinology</b> (not 'toxicology') is the use of computers to discover new characteristics from venoms and the molecules that comprise venoms, especially for the purpose of discovering new drugs.
          </p>
        </div>

        <span style="display:block; height: 0.6em"></span>
    </section>

    <section>
    <hr/>
      <h3>About me</h3>
      <p>
        My hobbies include skiing, retro computing, <a href="https://en.wikipedia.org/wiki/Speedrun">speedrunning</a>, jazz (I play piano and trumpet), and visiting breweries / trying craft beer. I like to try my hand at brewing my own beer on occasion (mostly pale ales so far, but I'd like to work my skill up to German lagers).
      </p>
      <p>
        I've recently begun the task of restoring an old <a href="http://www.atarimuseum.com/computers/8bits/xl/800xl/800xl.htm">Atari 800XL</a> to "like new" condition, which is providing a great opportunity to learn about electronic component testing and repair.
      </p>
    </section>
  </div>
{% endblock %}
