---
title: Homepage
permalink: /index.html
---

{% extends 'layouts/bare.njk' %}

{% block content %}
  <div id="page-content-bare">
    <h2>Joseph D. Romano, PhD</h2>
    <hr/>
    <p>
      Welcome to my personal website. I'm an Assistant Professor of Informatics at the University of Pennsylvania. You're probably looking for my <a href="https://romanolab.org">lab website</a>, which describes my research group and the work we do.
    </p>
    <p>
      If you would like to read my bio, click <a href="{{ "./bio.html" }}">here</a>.
    </p>
  </div>
{% endblock %}
