---
title: Happy Mother's Day, Mom!
permalink: /md.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content" style="max-width: 900px; margin-left: auto; margin-right: auto;">
    <h1>Happy Mother's Day, Mom!</h1>
    <hr/>
    <img src="./assets/img/m1.jpg" class="img-fluid pb-2">
    <p>
      Although I can't be there to celebrate it with you in person, I still wanted to wish you a very happy Mother's Day! I'm not very crafty, but this is my own version of a homemade greeting card. 
    </p>
    <p>
      Being the best mom in the world, you deserve a lot more than just one day of recognition for everything incredible you've done, of course!
    </p>
    <hr/>
    <img src="./assets/img/m2.jpg" class="img-fluid pb-2" />
    <p>
      (Notice how much less gray hair we both had back then!)
    </p>
    <img src="./assets/img/m3.jpg" class="img-fluid pb-2" />
    <hr/>
    <p>
      You probably remember these photos better than I do, but in case the background is too generic, this was the day you guys helped me move into my first NYC apartment.
    </p>
    <img src="./assets/img/m4.jpg" class="img-fluid pb-2" />
    <p>
      I know you and dad have always had a tough time getting me to smile in pictures, but hey -- you were right! I do enjoy having the pictures now, looking back on it.
    </p>
    <img src="./assets/img/m5.jpg" class="img-fluid pb-2" />
    <p>
      And I can't make a photo gallery for Mother's Day without including some with the rest of the family:
    </p>
    
    <img src="./assets/img/m7.jpg" class="img-fluid pb-2" />
    <img src="./assets/img/m8.jpg" class="img-fluid pb-2" />
    <img src="./assets/img/m9.jpg" class="img-fluid pb-2" />
    <p>
      And we can't forget -- you actually have 4 children now who can brag about you being their mom today:
    </p>
    <img src="./assets/img/m6.jpg" class="img-fluid pb-2" />
    <img src="./assets/img/m10.jpg" class="img-fluid pb-2" />
    <p>
      In any case, this is your day! Sit back and relax, and make sure Dad does any and all chores that might need doing! Even though we can't come up to celebrate with you, and it's not the best time to go out to a restaurant or a show to celebrate, we'll definitely make up for that before you know it - we will be up for a visit ASAP!!
    </p>
    <p>
      Love you, Mom!
    </p>
    <p>
      Your son, Joe.
    </p>
    <p class="text-right">
      <i>May 10, 2020</i>
    </p>
    <hr/>
    <hr/>
    <h1>Dear Kathy,</h1>
    <img src="./assets/img/m99.jpg" class="img-fluid pb-2" />
    <p>
      How exciting it is! This year is my first Mother’s Day with a Mother-in-law! I am so blessed to have you in my life, and couldn’t have asked for a better person to play this role. I hope you have a wonderful and relaxing day, and wish that we could be there to spend it with you in person! Can’t wait to see you and give you a big hug as soon as it is safe!
    </p>
    <p>
      Love, Sarah.
    </p>
    <p class="text-right">
      <i>May 10, 2020</i>
    </p>
  </div>
{% endblock %}