---
title: Research
permalink: /research.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <h2>Research Portfolio</h2>
      <p>(Click titles to navigate to project homepage)
      <hr>
    </section>
  </div>
{% endblock %}
