---
title: Research
permalink: /research.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <h2>Research Portfolio</h2>
      <p>(Click titles to navigate to project homepage)</p>
      <hr>

      <div class="project">
        <h4><a href="http://comptox.ai" target="_blank">ComptoxAI</a></h4>
        <p>
          A toolchain for artificial intelligence applications in computational toxicology. ComptoxAI provides a number of interconnected components, including a large heterogeneous graph database of toxicology concepts, an OWL ontology for computational toxicology, a gallery of graph machine learning models, and informational/educational resources.
        </p>
      </div>

      <div class="project">
        <h4>TPOT-NN</h4>
        <p>
          An extension to <a href="https://epistasislab.github.io/tpot/">TPOT</a> (a Python tool for optimizing machine learning pipelines using genetic programming) that adds support for PyTorch neural network models.
        </p>
      </div>

      <div class="project">
        <h4><a href="http://venomkb.org" target="_blank">VenomKB</a></h4>
        <p>
          A knowledge base and collection of related tools for computational venom research, particularly for the purpose of discovering new therapeutic effects of venom-derived peptides.
        </p>
      </div>

      <div class="project">
        <h4><a href="https://bioportal.bioontology.org/ontologies/CU-VO" target="_blank">Venom Ontology</a></h4>
        <p>
          An OWL ontology used to structure and perform automated reasoning on VenomKB, enabling advanced computational queries of venom data and discovery of previously unknown therapeutic associations between venoms and human diseases.
        </p>
      </div>

    </section>
  </div>
{% endblock %}
