/* html,
body {
  height:100%;
  margin:0;
} */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.wrap {
  min-height: 85%;
}

/* #main-content {
  overflow: auto;
  padding-bottom: 100px;
} */

h1,h2,h3 {
  font-family: 'cmu_sans_serifbold', Sans-Serif;
}

tt {
  font-family: 'cmu_typewriter_textregular', Monospace;
}

p {
  font-family: 'cmu_serifroman', serif;
}

p b {
  font-family: 'cmu_sans_serifbold', Sans-Serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  font-size: 13pt;
}

#page-content {
  padding-top: 100px;
  font-family: 'cmu_serifroman', serif;
}

#page-content p {
  font-size: 1.2em;
}

#page-content-justify {
  text-align:justify;
}

#definition-box {
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
  border-style: rounded;
}

#definition-box p {
  font-size: 12pt;
}

.navbar-brand {
  font-family: 'cmu_sans_serifbold', Sans-Serif;
  padding-left: 5px;
}

.nav-item {
  font-family: 'cmu_sans_serifbold', Sans-Serif;
}

.nav-link {
  padding-bottom: 5px;
}
.nav-link[aria-current='page'] {
  color: black !important;
}

nav {
  flex: 0 1 auto;
}

.body-fill {
  flex: 1 1 auto;
}

#cv-box {
  min-height: 1000px;
  border: solid gray;
  margin: 0;
  border-radius: 2px;
}

.pub-entry {
  margin-top: 24px;
  padding-left: 5px;
  padding-bottom: 4px;
  border-left: solid #6D8E87 5px;
}

.preprint-entry {
  margin-top: 30px;
  padding-left: 5px;
  padding-bottom: 4px;
  border-left: solid #DB7B51 5px;
}

.pub-title {
  margin-bottom: 0px;
}

.pub-authors{
  margin-bottom: 0px;
}

.pub-journal {
  margin-bottom: 0px;
}

.pub-button-journal {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 4px;
  font-family: 'cmu_sans_serifbold', Sans-Serif;
  padding-top: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pub-button-journal:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.project {
  padding-bottom: 16px;
}

.outlink-button {
  font-family: 'cmu_sans_serifbold', Sans-Serif;
  color: #fff;
  background-color: #28a745;
  border: 1px solid transparent;
  border-color: #1e7e34;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.outlink-button:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f8f9fa;
}

/* For rendering TeX logos
   (adapted from http://nitens.org/taraborelli/texlogo)
*/
.latex {
  font-family: 'cmu_serifroman', serif;
  letter-spacing: 1px;
}
.latex sup {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
.latex sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}


.ai {
  display:inline-block;
  font:normal normal normal 14px/1 Academicons;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.ai-google-scholar:before {
  content: "\e9d4";
}
.ai-google-scholar-square:before {
  content: "\e9f9";
}
.ai-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ai-2x {
  font-size: 2em;
}
.ai-3x {
  font-size: 3em;
}
.ai-4x {
  font-size: 4em;
}
.ai-5x {
  font-size: 5em;
}
.ai-fw {
  width: 1.28571429em;
  text-align: center;
}
.ai-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.ai-ul > li {
  position: relative;
}
.ai-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.ai-li.fa-lg {
  left: -1.85714286em;
}
.ai-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.ai-pull-left {
  float: left;
}
.ai-pull-right {
  float: right;
}
.ai.fa-pull-left {
  margin-right: .3em;
}
.ai.fa-pull-right {
  margin-left: .3em;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}

#copyright-footer {
  font-family: 'cmu_serifroman', serif;
}